.footer-container {
    background-color: #190D3b;
    font-size: clamp(1.1em, 1.5vw, 1.2em);
    color: white;
}

.footer-link:visited {
    color: white;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: red;
}

a.footer-link {
    margin: 0px 10px;
    padding: 0px;
}

.footer-icon {
    margin: 0px 12px;
    font-size: 5vw;
}

.link-icons,
.footer-links,
.footer-first {
    margin: 10px;
    padding: 0px;
}

.indiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
}
/* p {
    margin: auto;
} */

@media only screen and (min-width: 768px) {

    .link-icons,
    .footer-links,
    .footer-first {
        height: 100px;
        margin: 0px;
        padding: 0px;
    }

}